/* #################### start 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgba(255, 255, 255)
}

#aside {
    width: 200px;
    height: auto;
    position: fixed;
    top: 10%;
    margin-left: 0;
    background: rgba(135, 206, 250);
}

#nav {
    width: 100%;
    height: 50px;
    background: rgba(253, 230, 224, 0.3);
}

#content {
    height: auto;
    padding: 100px 0 0 100px;
    margin: 0 0 0 200px;
    background: #f9f7ed;
}

#footer {
    font-size: 15px;
    margin: 0;
    text-align: center;
    width: 100%;
    background: rgba(234, 234, 239);
}

#backTop {
    position: fixed;
    bottom: 100px;
    right: 0;
    margin-right: 20px;
    z-index: 999;
    width: 35px;
    height: 35px;
    background-color: deepskyblue;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 50%;
    transition: all linear 0.5s;
    cursor: pointer;
    opacity: 1;
}

/* #################### end 全局 #################### */


/* #################### start 导航栏 #################### */
#nav #menu {
    float: left;
    padding-right: 20px;
}

#nav ul li {
    float: left;
    padding: 10px;
    list-style: none;
}

#nav ul li a {
    color: #555;
    font-size: 12px;
    text-decoration: none;
}

#nav ul li a:hover {
    border-bottom: 1px solid;
}

/* 搜索框 */
#nav #search-input {
    width: 100px;
    height: 30px;
    font-size: 14px;
    background: rgba(255, 255, 0, 0.3);
    text-indent: 20px;
    outline: none;
    color: #87daff;
    position: absolute;
}

/* 搜索图标 */
#nav #iconfont icon-chazhao {
    position: absolute;
    color: #757575;
    font-size: 20px;
    width: 40px;
    height: 30px;
    background: rgba(255, 255, 0, 0.3);
    text-align: center;
    line-height: 2.5;
}

/* #################### end 导航栏 #################### */


/* #################### start 文章 #################### */
/* 作者 时间 相关 */
#post-author {
    font-size: 9px;
    position: absolute;
    top: 60px;
    right: 30px;
    color: #999;
}

#post-date {
    font-size: 9px;
    position: absolute;
    top: 80px;
    right: 30px;
    color: #999;
}

/* 文章各个元素间隔 */
#article {
    padding: 30px;
}

#article * {
    margin: 30px 0;
}


#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
    line-height: 40px;
    margin: 20px 0 15px;
}


#article h1 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #e06c75;
}

#article h2 {
    font-size: 25px;
    border-left: 3px solid #73b1e0;
    padding-left: 10px;
}

#article h3 {
    font-size: 22px
}

#article a {
    color: #e06c75;
    text-decoration: none;
}

#article a:hover {
    border-bottom: 1px solid;
}

#article h1 a:hover {
    border-bottom: none;
}

#article code {
    border-radius: 3px;
    box-shadow: 0px 0px 5px #999;
}

#article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #999;
}

#article pre {
    font-size: 14px;
    margin: 20px 0 15px;
}

#article p {
    margin: 0 0 10px;
    line-height: 30px
}

/* 表格处理 */
#article table {
    width: 100%;
    border: 0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #999;
}

#article table th {
    background: #73b1e0;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
    line-height: 35px;
    color: #FFF;
}

#article table tr:nth-child(odd) {
    background: #F4F4F4;
}

#article table tr:hover,
#article table td:hover {
    background: #badbf5;
    color: #FFF;
}

#article table td, table th {
    padding: 5px 20px 5px 20px
}

#article table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

#article table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

#article table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

#article table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

/* #################### end 文章 #################### */


/* #################### start 主页 #################### */
#home-posts .page-current .page-num:hover {
    background: #66afef;
    color: #fff;
}

#home-posts {
    margin: auto;
}

#home-posts .page-current {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#home-posts .page-current .current {
    border-radius: 5px;
    color: #da0a51;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 7px;
    padding: 5px;
    width: 35px;
}

#home-posts .page-current .page-num,
#home-posts .page-current .page-omit {
    border-radius: 5px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 7px;
    padding: 5px;
    width: 35px;
}

#home-posts .page-current a {
    color: #999;
}

#home-posts .post {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px #d9d9d980;
    position: relative;
}

#home-posts .post .category-and-date {
    color: #5c6b72;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#home-posts .post .category-and-date .category {
    display: inline-block;
    margin-right: 25px;
}

#home-posts .post .category-and-date .category a {
    color: #5c6b72;
}

#home-posts .post .category-and-date .date {
    display: inline-block;
}

#home-posts .post .go-post {
    background: linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%);
    border: 0;
    border-radius: 20px 0;
    bottom: 5px;
    box-shadow: 2px 2px 10px 0 #ffbbf47a;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 24px;
    margin: 10px 0px 0px 0px;
    position: absolute;
    right: -5px;
}

#home-posts .post .post-tags .tag {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}

#home-posts .post .post-tags a {
    font-size: 14px;
}

#home-posts .post .post-tags,
#archives .info,
.article .info {
    line-height: 1.7;
}

#home-posts .post-title {
    color: #66afef;
    text-align: center;
}

#home-posts .post:hover {
    box-shadow: 0 0 5px #d9d9d9;
    transform: translate(-5px, -5px);
}

#home-posts-wrap {
    box-sizing: border-box;
    background: transparent;
    border-radius: 10px;
    display: flex;
    margin: auto;
    padding: 20px;
}

/* #################### end 主页 #################### */

/* #################### start 侧边栏 #################### */

#aside #back {
    color: #00cc66;
}

#aside #back #backlinks-item {
    color: #66afef;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
}

#aside #back #backlinks {
    display: flex;
    justify-content: center;
}

#aside #back #backlinks li {
    list-style: none;
    padding: 10px;
    margin: 0 5px;
}

#aside #back #backlinks li a {
    text-decoration: none;
}

/* #################### end 侧边栏 #################### */

/* #################### start 页尾 #################### */

#footer #author-information {
    color: #66afef;
    display: inline-block;
    font-size: 15px;
    margin: 20px 10px;
}

/* #################### end 页尾 #################### */
