@font-face {
  font-family: "iconfont"; /* Project id 4633719 */
  src: url('iconfont.woff2?t=1723356015337') format('woff2'),
       url('iconfont.woff?t=1723356015337') format('woff'),
       url('iconfont.ttf?t=1723356015337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: "\e636";
}

.icon-fl-jia:before {
  content: "\e624";
}

.icon-if_archive_archives_:before {
  content: "\e639";
}

.icon-tag:before {
  content: "\e7e4";
}

.icon-about:before {
  content: "\e61d";
}

.icon-douyinzhanghao:before {
  content: "\e602";
}

.icon-person:before {
  content: "\e600";
}

.icon-github1:before {
  content: "\e628";
}

.icon-gitee:before {
  content: "\e601";
}

.icon-chazhao:before {
  content: "\e656";
}

