<!--关于-->
<div id="information">
    <!--    <div id="information-picture" style="text-align: center">-->
    <!--        <img src="images/avatar.jpg" width="150px" height="auto" alt="图片只有主页有">-->
    <!--    </div>-->
    <div id="information-text" style="text-align: center">
        欢迎来到我的小窝
    </div>
</div>

<!--社交平台-->
<div id="back">
    <div id="back_title">
        社交平台
    </div>
    <div id="backlinks">
        <% for ( backlinks in theme.backlinks ) { %>
            <li class="backlinks-item">
                <a href="<%- theme.backlinks[backlinks]['url'] %>" target="_blank">
                    <i class="iconfont <%- theme.backlinks[backlinks]['icon'] %>"></i></a>
                </a>
            </li>
        <% } %>
    </div>
</div>

<!--&lt;!&ndash;友链&ndash;&gt;-->
<!--<div id="friend">-->
<!--    <div id="friend_title">-->
<!--        友链-->
<!--    </div>-->
<!--    <div id="friendlinks">-->
<!--        暂无-->
<!--    </div>-->
<!--</div>-->

<!-- 看板娘 -->
<button id="show-live_2d" onclick="showLive2D()">显示看板娘</button>
<div>
    <canvas id="mycanvas" width="200" height="450">
    </canvas>
</div>
