<ul id="menu">
    <!-- 导航栏 -->
    <% for ( menu_name in theme.menus ) { %>
        <li class="menu-item">
            <a href="<%- theme.menus[menu_name]['link'] %>" class="menu-item-link"><i
                        class="iconfont <%- theme.menus[menu_name]['icon'] %>"></i> <%- theme.menus[menu_name]['name']
                %></a>
        </li>
    <% } %>

    <!-- 搜索栏 -->
    <li id="search">
        <input class="search-input" type="text" placeholder="search">
        <span class="iconfont icon-chazhao"></span>
    </li>

    <!-- 音乐 -->
    <!-- <div id="music"> -->
    <!--     <audio id="audio" autoplay="autoplay" controls loop="loop" preload="auto" muted="muted"> -->
    <!--         <source src="music/1.mp3" type="audio/mpeg"> -->
    <!--     </audio> -->
    <!--     <button id="playAudio" onclick="playAudio()">Play Audio</button> -->
    <!-- </div> -->
</ul>

<div id="nav-picture" style="position: absolute; right: 0;">
    <img src="images/avatar.jpg" width="50px" height="auto" alt="图片只有主页有">
</div>